body {
  background-color: rgb(236, 218, 56);
}

.search-form {
  display: flex;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.photo-card {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 5);
  width: 350;
  // height: 280;
  margin: 5px;
}

img {
  display: block;
  max-width: 100%;
  overflow: hidden;
}

.info {
  background-color: burlywood;
  display: flex;
  flex-grow: 1;
  padding: 5px;
}

.search-form {
  position: fixed;
  z-index: 99;
  width: 100%;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: rgb(36, 36, 197);
  margin-top: -8px;
  margin-left: -8px;
}

.search-form input {
  padding-left: 10px;
  height: 35px;
  width: 300px;
  font-size: 20px;
  border-color: rgb(229, 245, 14);
  border-radius: 10px;
}

.gallery {
  padding: 10px;
  padding-top: 80px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -10px;
  margin-left: -10px;
}